@import "partials/settings";
@import "partials/resets";
@import "partials/mixins";

/* Globals */

body{
  background-color: $oil;
  font-family: $montserrat;
  @include uHero_font($base, 1, $body_color, 400);
}

header{
  padding-top: 40px;
}

h1{
  @include uHero_font(1.4em, 1, $white, 400);
}

h2{
  font-size: 0.95em;
  margin: 8px 0 3px;
}

h3{
  // background-color: pink;
}

/* Common Color Schemes */
.nav_edu,
.education .title{
  background-color: $edu_med_dark;
} 

.education .numbers, .education aside ul li:hover, .education .item.active {
  background-color: $edu_medium;
} 


.nav_rnd,
.research .title{
  background-color: $rnd_med_light;
} 

.research .numbers, .research aside ul li:hover, .research .item.active{
  background-color: $rnd_medium;
}


.nav_ent,
.entrepreneurship .title,.entrepreneurship .numbers, .entrepreneurship aside ul li:hover, .entrepreneurship .item.active{
  background-color: $ent_medium;
}


.nav_econ,
.economic .title, .economic .numbers, .economic aside ul li:hover, .economic .item.active{
  background-color: $econ_medium;
}



/* Layouts */
.wrapper{
  margin: auto;
  width: 99%;
}

.logo{
  width: 20%;
  display: inline;
  float: left;
}

nav{
  width: 77%;
  display: inline-block; 
  height: 50px;
  position: relative;
  z-index: 1;
  text-align: right;
  float: right;

  ul{
    list-style-type: none;
    margin-right: -2px;
    padding: 0;
  
    li{
      display: inline-block;
      border-radius: 5px;
      margin: 0 2px;
      vertical-align: top;
      text-align: center;

      a{
        @include uHero_font( 0.75em, 1, $white, 400);
        box-sizing: border-box;
        height: 70px;
        width: 200px;
        padding: 12px 30px 20px;
        letter-spacing: 0.15em;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
      }
    }
  }
}

.nav_edu,.nav_ent{
  padding-top: 8px; 
}

.nav_ent{
  a{
    padding: 12px 16px 20px;
  }
}

.container{
  background-color: $light_grey;
  margin: auto;
  margin-top: 5px;
  position: relative;
  z-index: 2;
  border-top-left-radius: 5px;
}

.title{
  background-color: $econ_medium;
  height: 43px; 
  text-align: center;
  padding: 30px 0 10px;
  border-top-left-radius: 5px; 
}

aside{
  width: 20%;
  background-color: $light_grey;
  float:left;
  padding: 20px;
  height: 100%;

  ul{
    margin-top: 20px;

    li{
      background-color: $white;
      margin: 5px auto;
      border-radius: 3px;
  
      a{
        @include uHero_font(0.82em, 1, $body_color, 400);
        width: 85%;
        text-decoration: none;
        padding: 15px;
        display: block;
      }

      &:hover a, &.item.active a{
        color: $white;
      }
    }
  }
}

.numbers{
  width: 20px;
  height: 10px;
  border-radius: 50%;
  color: $white;
  padding: 3px 9px;
}

.graphs{
  background-color: $white;
  overflow: hidden;
}

/* Views Container
 Map and Line graphs */

section{
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border-bottom: 2px solid $light_grey; 
  padding: 20px 40px 30px;

  p{
    padding-left: 30px;
    font-family: $bitter;
    font-style: italic;
    @include uHero_font(0.85em, 1, $body_color, 400);
  }
}

section:last-child{
  border: none;
}
.info_legend_container{
  display: block;
  margin-bottom: 20px;

  .map_info{
    width: 55%;
    float: left;
  }

  .legend{
    border: solid 1px red;
    padding: 5px;
    width: 35%;
    float: right;

  }
}
.map{
  display: block;
  background-image: url('../assets/images/united_states.svg');
  background-repeat: no-repeat;
  height: 530px;
  width: auto;
}

.line_graph_container{
  
    .graph{
      background-image: url('http://www.the-arcade.ie/wp-content/uploads/2015/02/iPg67gVboxwYVQgep1TQHCsTanv.jpg');
      height: 300px;
      width: 75%;
      display: inline-block;
    }

    .key{
      background-color: brown;
      width: 25%;
      height: 300px;
      float: right;
      display: inline-block;
    }
}

.timeline_info{
  // background-color: pink;
  float: left;
  width: 35%;
}

.time_span{
  // background-color: yellow;
  float: left;
  width: 60%;
  height: 40px;

}


/* Footer */
footer{
  // height: 95px;
  padding: 15px 0;

  p{
    width: 50%;
    font-size: 10px;
    float: left;
    padding-top: 0;
  }

  h5{
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
  }
}
.footer_links{
  width: 30%;
  padding: 10px;
  height: 68px;
  float: left;
}

.additional{
  padding-top: 30px;
  height: 50px;
}

.logos{
  border-radius: 5px;
  border: 1px solid $body_color;
  background-repeat: no-repeat;
  background-size: 200px;
  float: right;

  p{
    width: 40%;
    padding: 25px 0 0;
  }
}
.dl{
  margin-right: 20px;
  background-image: url('/assets/images/devleague_logo.svg');
  background-position: 150px 10px; 
  

  .devleague{
    width: 47%;
    float: right;
    padding-top: 45px;
    font-size: 8px;
  }

}

.uhero{
  background-image: url('/assets/images/uhero_logo.svg');
  background-position: 150px 10px;
}