@import "partials/settings";
@import "partials/resets";
@import "partials/mixins";
@import "partials/splash";

/* Globals */

body{
  background-color: $oil;
  font-family: $montserrat;
  @include uHero_font($base, 1.2, $body_color, 400);
  letter-spacing: 0.03em;
  min-width: 1162px;
}

header {
  padding-top: 0px;
}

h1{
  @include uHero_font(1.1em, 1, $white, 400);
}

h2{
  font-size: 0.95em;
  margin: 8px 0 3px;
}

h3{
  margin: 10px 25px 0;
  line-height: 1.2;
}

a {
   text-decoration: none;
}

/* Common Color Schemes */
.nav_edu, .splash .edu .intro{
  background-color: $edu_medium;
}

.container {

   .education {
      border-top: 5px solid;
      border-color: $edu_medium;
      border-top-left-radius: 5px;
   }

   .research {
      border-top: 5px solid;
      border-color: $rnd_medium;
      border-top-left-radius: 5px;
   }

   .entrepreneurship {
      border-top: 5px solid;
      border-color: $ent_medium;
      border-top-left-radius: 5px;
   }

   .economic {
      border-top: 5px solid;
      border-color: $econ_medium;
      border-top-left-radius: 5px;
   }
}

.education {
    .title, .numbers, aside ul li:hover, .item.active {
    background-color: $edu_medium;
  }
  /* .info_legend_container .legend, .key, .map_toggle, .key{
    border: 2px solid $edu_medium;
    border-radius: 5px;
} */
  .references{
    a{
      color: $edu_medium;
    }
  }
}


.nav_rnd,.splash .rnd .intro{
  background-color: $rnd_medium;
}

.research {
    .title, .numbers, aside ul li:hover, .item.active, input[type=checkbox]:hover + label, input[type=checkbox]:hover + label:nth-of-type(n) {
    background-color: $rnd_medium;
  }

  input[type=checkbox]:checked + label, input[type=checkbox]:checked + label:nth-of-type(n) {
     border-left: 5px solid $rnd_medium;
  }

   /* .info_legend_container .legend,.key, .research .map_toggle, .research .key{
    border: 2px solid $rnd_medium;
    border-radius: 5px;
} */

  .references{
    a{
      color: $rnd_medium;
    }
  }
}

.nav_ent, .splash .ent .intro{
  background-color: $ent_medium;
}

.entrepreneurship{
  .title, .numbers, aside ul li:hover, .item.active{
    background-color: $ent_medium;
  }
  /* .info_legend_container .legend, .key, .map_toggle, .key{
    border: 2px solid $ent_medium;
    border-radius: 5px;
} */
  .references{
    a{
      color: $ent_medium;
    }
  }
}


.nav_econ, .splash .econ .intro{
  background-color: $econ_medium;
}

.economic{
  .title, .numbers, aside ul li:hover, .item.active, input[type=checkbox]:hover + label, input[type=checkbox]:hover + label:nth-of-type(n) {
    background-color: $econ_medium;
  }

  input[type=checkbox]:checked + label, input[type=checkbox]:checked + label:nth-of-type(n) {
     border-left: 5px solid $econ_medium;
  }

  /* .info_legend_container .legend, .key, .map_toggle, .key{
    border: 2px solid $econ_medium;
    border-radius: 5px;
} */

  .references{
    a{
      color: $econ_medium;
    }
  }
}

.education {
  @include arrow_box($edu_med_dark);
}

.research {
  @include arrow_box($rnd_med_dark);
}

.entrepreneurship {
  @include arrow_box($ent_med_dark);
}

.economic {
  @include arrow_box($econ_med_dark);
}

/* Layouts */
.wrapper {
  margin: auto;
max-width: 1150px;
  //max-width: 1200px;
  //width: 98%;
  margin-top: -1%;
}

.logo{
  width: 22%;
  display: inline-block;
  float: left;
  margin-top: 3%;
  margin-left: 3px;

  /* @media #{$small-only}{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
} */

  a{
    text-decoration: none;
  }
}

/* nav{
  width: 78%;
  display: inline-block;
  height: 50px;
  position: relative;
  z-index: 1;
  //text-align: right;
  float: right;

   ul{
    list-style-type: none;
    margin-left: 11px;
    margin-right: 0px;
    padding: 0px;

    li{
      display: inline-block;
      border-radius: 5px;
      //margin: 0 2px;
      margin: 0px 3px 0px 3px;
      width: 24.4%;
      vertical-align: top;
      text-align: center;

      a{
        @include uHero_font( 0.75em, 1.1, $white, bold);
        box-sizing: border-box;
        height: 70px;
        width: 225px;
        padding: 14px 30px 20px;
        letter-spacing: 0.15em;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
      }
    }
  }
} */

nav {
   width: 78%;
   margin-right: -3px;
   margin-top: 1%;
   height: 50px;
   display: inline-block;
   position: relative;
   z-index: 1;
   float: right;
   text-align: right;

   ul {
      list-style-type: none;

      li {
         width: 23%;
         display: inline-block;
         padding: 10px 5px;
         margin: 0px 3px;
         text-align: center;
         border-radius: 5px;
         vertical-align: top;

         a {
            @include uHero_font( 0.75em, 1.1, $white, bold);
            display: block;
            padding: 12px 20px;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            height: 70px;
         }
      }
   }
}

.nav_econ {
   a {
      padding: 5px 30px;
   }
}

.nav_rnd {
   a {
   padding: 5px;
   }
}

/* .nav_edu {
   padding-top: 8px;
   height: 62px;
}

.nav_ent {
   padding-top: 8px;
   height: 62px;

   a {
     padding: 14px 16px 20px;
   }

} */

.container{
  background-color: $light_grey;
  margin: auto;
  margin-top: 3px;
  position: relative;
  z-index: 2;
  border-top-left-radius: 5px;

  @media #{$medium-down}{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.title{
  background-color: $econ_medium;
  height: 15px;
  //padding: 30px 0 10px;
  border-top-left-radius: 5px;
}

aside{
  width: 20%;
  background-color: $light_grey;
  float:left;
  padding: 10px 18px;
  height: 100%;

  input[type=checkbox] {
     /* hide checkbox */
     position: absolute;
     opacity: 0;
  }

  label {
     background-color: $white;
     border-radius: 3px;
     font-size: 0.82em;
     position: relative;
     display: block;
     padding: 15px;
     margin-bottom: 5px;
  }

  #sub-menu {
     display: none;

     li {
        margin-left: 25px;
     }
  }

  input[type=checkbox]:checked + label + #sub-menu, input[type=checkbox]:checked + label:nth-of-type(n) + #sub-menu {
     display: block;
  }

  input[type=checkbox]:hover + label, input[type=checkbox]:hover + label:nth-of-type(n) {
     cursor: pointer;
     color: $white;
  }

  ul{

    li{
      background-color: $white;
      margin: 5px auto;
      border-radius: 3px;

      a{
        @include uHero_font(0.82em, 1.3, $body_color, 400);
        width: 85%;
        text-decoration: none;
        padding: 15px;
        display: block;
      }

      &:hover a, &.item.active a{
        color: $white;
      }
    }
  }
}

.map_toggle {
  padding: 10 5px;
  width: 100%;
  display: inline-block;
  z-index: 4;
  position: relative;

  h3 {
    font-size: 13px;
    margin: 12px;
    text-align: center;

  }

  ul {
    li {
      display: inline;
      a {
        width: 50%;
        display: inline-block;
        height: 70px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 14px 0;
      }
      .mini_us {
        float: right;
        background-size: 96px;
        background-position: center;


        &.econ {
          background-image: url(assets/images/us_grey.png);

          &:hover, &.active {
            background-image: url(assets/images/us_orange.png);
          }
        }
      }
      .mini_hi {
        float: left;
        background-size: 96px;
        background-position: center;

        &.econ {
          background-image: url(assets/images/hi_grey.png);

          &:hover, &.active {
            background-image: url(assets/images/hi_orange.png);
          }
        }
      }
    }
  }
}

.numbers {
  width: 20px;
  height: 10px;
  border-radius: 50%;
  color: $white;
  padding: 3px 9px;
}

.graphs{
  background-color: $white;
  overflow: hidden;
}

/* Views Container
 Map and Line graphs */

section{
  display: block;
  margin-bottom: 0;
  border-bottom: 2px solid $light_grey;
  padding: 0 40px 20px;

  .splash & {
    border: none;
  }

  &:first-child {
    padding: 20px 40px 0;
  }

  &:nth-child(2) {
    padding: 20px 40px 20px;
  }

  &:last-child {
    padding: 20px 30px 0;
    border: none;
  }
  &.ng-scope {
    border: none;
  }
}

section:last-child, section

.info_legend_container{
  display: block;
  margin-bottom: 20px;
  margin-left: -2%;


  .map_info{
    width: 100%;
    white-space: normal;
    display: block;
    margin-top: -2%;
    //float: left;
    //padding-bottom: 7%;
    text-align: center;

    text {
      font-size: 1em;
    }
  }

  .map_toggle_container{
    width: 100%;
  }

  .legend{
    padding: 10px 10px 10px;
    // width: 55%;
    color: $body_color;
    font-size: $base*0.8;
    display: block;
    float: left;

    h4{
      margin-bottom: 5px;
      font-size: 0.75em;
    }

    ul{
      li{
        span{
          width: 20px;
          height: 12px;
          background-color: $edu_med_dark;
          display: inline-block;
          border-radius: 2px;
          margin-right: 3px;
        }
      }
    }
  }
}

.graphs_container {
   white-space: nowrap;
   margin-left: -3%;

   /* @media#{$small-only} {
      margin-left: -8%;
   } */
}

.default-map{
  display: block;
  background-image: url('assets/images/united_states.svg');
  height: 530px;
  width: auto;
}

.line_graph_info{
  margin-bottom: 20px;
}

.line_graph_container{
   margin-top: -6%;
   //margin-left: -2%;
   width: 99%;
   white-space: nowrap;

    .graph{
      float: left;
      width: 80%;
    }

    .key{
      margin-top: 18px;
      width: 100%;
      float: left;
      padding: 10px 10px;

      .key_text{
        font-size: 12px;
      }
    }
}
#uh-map {
  position: relative;
  width: 81%;
  display: inline-block;
  margin-top: -2%;

  svg {
    margin-top: -5%;
    height: 400px;
    width: 650px;
  }

  /* @media#{$small-only} {
     margin-left: -5%;
 } */
}

#uh-histogram {
   width: 10%;
   float: right;
   margin-top: -27%;
   margin-right: 8%;
   display: inline-block;

   /* @media#{$small-only} {
      margin-right: 15%;

      svg {
         padding-left: 20px;
      }
   }

   @media#{$medium-only} {
      margin-right: 10%;

      svg {
         padding-left: 20px;
      }
   } */
}

#hover-tooltip, #fixed-tooltip, #selected-tooltip {
  position: relative;
  width: 150px;
  height: 100px;
  z-index: 100;
  text-align: center;
  margin-top: -85px;
  margin-left: -70px;
  pointer-events: none;
  font-size: 12px;
}

#hover-tooltip, #selected-tooltip {
  top: 0;
  left: -9999px;
}

#fixed-tooltip {
  top: 0;
  left: -9999px;
}

.positive {
   color: $ent_medium;
}
.negative {
   color: red;
}

.timeline_info{
 p{
    padding-left: 30px;
    font-family: $bitter;
    font-style: italic;
    @include uHero_font(0.85em, 1, $body_color, 400);
  }
}

.time_span{
  // background-color: yellow;
  // float: left;
  // width: 60%;
  // height: 40px;

}

.references{
  height: 50px;
  padding: 20px 30px 30px;

  h3{
    margin-left: 0px;
    padding-bottom: 10px;
  }
}


/* Footer */
footer{
  text-align: center;
  padding: 20px 0 15px;

  p{
    font-size: 10px;
    float: left;
    padding-top: 0;
  }

  h5{
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
  }
}
.footer_links{
  width: 290px;
  padding: 10px 20px;
  height: 68px;
  // float: left;
}

.additional{
  padding-top: 30px;
  height: 50px;
}

.logos{
  border-radius: 5px;
  border: 1px solid $body_color;
  background-repeat: no-repeat;
  background-size: 190px;
  // float: right;
  display: inline-block;

  p{
    // width: 50%;
    padding: 25px 0 0;
  }
}
.dl{
  margin-right: 15px;
  background-image: url('assets/images/devleague_logo.svg');
  background-size: 168px;
  background-position: 143px 12px;
}

.uhero{
  background-image: url('assets/images/uhero_logo.svg');
  background-position: 125px 12px;
}

/* D3 stuff */

.axis {
  path {
      fill: none;
      stroke: #AAA797;
      stroke-width: 3;
      shape-rendering: crispEdges;
  }

  text {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    fill: #AAA797;
  }
}

#line-graph {
  padding-left: 20px;

  text {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    // fill: #AAA797;
  }
}

#uh-graph {

  svg {
    overflow: visible;
    padding-left: 20px;
    padding-bottom: 30px;
  }

  text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    &.label {
      fill: #AAA797;
    }
  }
}

#uh-key {
   width: 20%;
   margin-top: 30%;
   float: right;
   margin-right: -3%;

   svg {
      height: 100px;
   }
}

// the little helper text that show minYear, maxYear
// FOR DEBUGGING PURPOSES
#uh-brush {
   margin-top: -1%;
   margin-left: -2%;

  span {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #AAA797;
  }

  text {
    fill: #AAA797;
  }
}

/* Tweaks to D3 SLIDER styles (in _d3.slider.scss) */
.d3-slider {
  background-color: #D3D0C1;
  border: none;
}

.d3-slider-range {
  background-color: #F27D14;
}

.d3-slider-handle {
  background: #FF9933;
  border: none;
  border-radius: 0;
  width: 1em;
  height: 1.38em;
}

.d3-slider-axis {
  top: -3px;

  text {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    fill: #AAA797;
  }
}

// Donut Diagrams
text{
      font-size: 14px;

  .d3-graph-edu & {
      fill: $edu_med_dark;
  }
  .d3-graph-econ & {
      fill: $econ_med_dark;
  }
  .d3-graph-rnd & {
      fill: $rnd_med_dark;
  }
  .d3-graph-ent & {
      fill: $ent_medium;
  }
}

.hidden {
  visibility: hidden;
}
