<div class="splash clearfix">
  <section>
    <h1>TRACKING HAWAII’S PROGRESS IN JOB GROWTH, BUSINESS CLIMATE AND ECONOMIC DEVELOPMENT &lt;BETA&gt;</h1>
    <p>
      Innovation is the key to regional growth and prosperity.
      To better understand Hawaii’s progress in developing a vibrant innovation based economy
      this dashboard tracks key innovation assets and outcomes, and when possible, allows for
      comparison with other states and counties. The dashboard is supported by the Hawaii Business Roundtable,
      Devleague, and the University of Hawaii.
    </p>
    <div class="sponsors clearfix">
      <img src="assets/images/sponsors/uh_logo.png">
    </div>
  </section>
  <section class="group clearfix">
    <div class="col edu">
      <div class="intro">
        <!-- <h2 class="single">Education</h2> -->
        <p class="desc">
          Talented people are the source of innovation.
          Tracking measures of human capital helps gauge the availability of a
          skilled workforce, particularly in important technical fields.
        </p>
      </div>
      <div class="splash-graph">
        <p class="desc">
          In 2013, 31.2% of Hawaii’s working age population held a Bachelor’s
          degree or higher versus 29.6% nationally.
        </p>
        <div class="d3-graph-edu"></div>
      </div>
      <div class="splash-graph">
        <p class="desc">
          In 2011, for every 1000 individuals aged 25-34, Hawaii had
        </p>
        <h3 class="value">11.1</h3>
        <p class="desc">Science and Engineering graduate students, while the national average was 13.3.</p>
      </div>
    </div><!--end of col-->

    <div class="col rnd">
      <div class="intro">
        <!-- <h2>Research &amp; <br> Development</h2> -->
        <p class="desc">
          Research and Development (R&amp;D) spending at universities and private R&amp;D investment is critical for the accumulation of knowledge and
          developing new products and services that will drive regional growth and prosperity.
          <!--While Hawaii tends to lag in patents and commercialization, it has long outperformed in
          R&amp;D spending as a share of our economy.-->
        </p>
      </div>
      <div class="splash-graph">
        <p class="desc">
          In 2012, Academic Science and Engineering R&amp;D in Hawaii reached
        </p>
        <h3 class="value">$4.53</h3>
        <p class="desc">per $1000 of GDP vs $3.99 for the nation as a whole.</p>
      </div>
      <div class="splash-graph">
        <p class="desc">
            In 2012, Hawaii spent </p><h3 class="value">$328,168</h3> <p class="desc">on Academic Science and Engineering R&amp;D.
            <!--, which is greater than the US average.
        </p>
      </div>
      <div class="splash-graph">
      -->
        </p>
      </div>
    </div><!--end of col-->

    <div class="col ent">
      <div class="intro">
        <!-- <h2 class="single">Entrepreneurship</h2> -->
        <p class="desc">
          Entrepreneurial capacity determines Hawaii’s ability to generate
          new business activities through the development of new ideas and innovation.
        </p>
      </div>
      <div class="splash-graph">
        <p class="desc">
          As a share of GDP,  Hawaii’s venture capital disbursements fall far below those in the rest of the country.
          In 2012, for every $1,000 of GDP, VC disbursements total </p>
          <h3 class="value">$.01</h3>
          <p class="desc">
          versus  $1.73 nationally. <!-- This comparison should improve with the increased deal flow due to
          the growth in accelerators and Startup Paradise. -->
        </p>
      </div>
      <div class="splash-graph">
        <p class="desc">
          The share of workers employed by young firms (&lt;5yrs old) or
          startups (&lt;1yr old) in 2012 was 9.4%.
        </p>
        <div uh-splash class="d3-graph-ent"></div>
      </div>
    </div><!--end of col-->

    <div class="col econ">
      <div class="intro">
        <!-- <h2>Economic <br> Prosperity</h2> -->
        <p class="desc">
          If innovation is the key to long run economic growth,
          the key outcome is higher living standards and economic prosperity.
          Hawaii growth has fallen behind the nation since the 1990s and living standards have suffered.
        </p>
      </div>
      <div class="splash-graph">
        <p class="desc">
          In 2013, average compensation per job in Hawaii was
        </p>
        <h3 class="value">$52,151</h3>
        <p class="desc">
          vs the national average of $55,770.
        </p>
      </div>
      <div class="splash-graph">
        <p class="desc">
          Yet 2013 regional price parities show that, on average,
           Hawaii purchasing power is
           </p>
          <h3 class="value">16%</h3>
          <p class="desc">
          below the national average.
        </p>
      </div>
    </div><!--end of col-->
</div>
<!-- <div .d3-graph map-url="assets/maps/USA.json" d3-data-url="http://localhost:4567/entrepreneurship/ent_kauffman_index" color-scheme="ent" d3-y-unit-measure="Percent (%) of Individuals 20-64 yrs old" legend-text="Kauffman Index of Entrepreneurial Activity" measurement-unit="extended_percent"></div> -->
