<div class="splash clearfix">
  <section>
    <h1>Tracking Hawaii's Progress in Innovation Assets and Outcomes</h1>
    <p>
      Innovation is the key to regional growth and prosperity. To better understand Hawaii's progress in developing a vibrant innovation based economy, this dashboard tracks key innovation assets and outcomes, and when possible, allows for comparison with other states and counties.
    </p>
    <div class="sponsors clearfix">
      <a href="http://www.uhero.hawaii.edu"><img src="assets/images/uhero_logo.svg" width = "200px"></a>
      <a href="https://www.hawaii.edu"><img src="assets/images/sponsors/uh_bw.png" style = "float: left"></a>
      <a href="http://www.hibusinessroundtable.org/"><img src="assets/images/sponsors/hbr_logo.png"></a>
      <a href="http://www.devleague.com/"><img src="assets/images/devleague_logo.svg" width = "200px"></a>
    </div>
  </section>
  <section class="group clearfix">
    <div class="col edu">
      <a ui-sref="edu.post-sec-degree">
      <div class="intro">
        <p class="desc">
          Talented people are the source of innovation.
          Tracking measures of human capital helps gauge the availability of a
          skilled workforce, particularly in important technical fields.
        </p>
      </div>
      </a>

      <a ui-sref="edu.post-sec-degree">
      <div class="splash-graph">
        <p class="desc">
          44.9% of young adults have a post-secondary degree
        </p>
        <div uh-splash class="d3-graph-edu"></div>
      </div>

      <a ui-sref="edu.sne-bachelors">
      <div class="splash-graph">
        <p class="desc">
          STEM degrees have increased
        </p>
        <img src="assets/images/splash/edu_stem2.svg">
      </div>
      </a>
    </div><!--end of col-->

    <div class="col rnd">
      <a ui-sref="rnd.patents-per-occupation">
      <div class="intro">
        <p class="desc">
          Investment in Research and Development (R&amp;D) is critical for the accumulation of knowledge and developing new products and services that will drive regional growth and prosperity.
        </p>
      </div>
      </a>

      <a ui-sref="rnd.academic-rnd">
      <div class="splash-graph">
        <p class="desc">
          Academic R&amp;D investment as share of GDP
       </p>
          <img src="assets/images/splash/rnd_academ_rnd.svg">
      </div>
      </a>

      <a ui-sref="rnd.utility-patents-by-county">
      <div class="splash-graph">
        <p class="desc">
            88 utility patents granted in Honolulu in 2013
        </p>
        <img src="assets/images/splash/rnd_utility_patents.svg">
      </div>
      </a>
    </div><!--end of col-->

    <div class="col ent">
      <a ui-sref="ent.startup-employment-share">
      <div class="intro">
        <p class="desc">
          Entrepreneurial capacity determines Hawaii’s ability to generate
          new business activities through the development of new ideas and innovation.
        </p>
      </div>
      </a>

      <a ui-sref="ent.five-yr-startup-survival-rate">
      <div class="splash-graph">
        <p class="desc">
          5-year startup survival 47.6%
        </p>
        <div uh-splash class="d3-graph-ent"></div>
      </div>
      </a>

      <a ui-sref="ent.mature-firm-employment-share">
      <div class="splash-graph">
        <p class="desc">
          Increasing share of private sector jobs at mature firms
        </p>
        <img src="assets/images/splash/ent_mature_emp.svg" class="ent-svg">
      </div>
      </a>
    </div><!--end of col-->

    <div class="col econ">
      <a ui-sref="econ.gdp-by-state">
      <div class="intro">
        <p class="desc">
          If innovation is the key to long run economic growth,
          a key outcome is higher living standards and economic prosperity.
          Hawaii growth has fallen behind the nation since the 1990s.
        </p>
      </div>
      </a>

      <a ui-sref="econ.average-earnings-per-job">
      <div class="splash-graph">
        <p class="desc">
          HI earnings per job lag the US by $4.5k
        </p>
        <img src="assets/images/splash/econ_rpp.svg">
      </div>
      </a>

      <a ui-sref="econ.unemployment-rate">
      <div class="splash-graph">
        <p class="desc">
          Unemployment rate 4.4%
        </p>
        <div uh-splash class="d3-graph-econ"></div>
      </div>
      </a>
    </div><!--end of col-->
</div>
