<div class="splash clearfix">
  <div class="left">
    <h2>Some text about innovation in Hawaii</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt et recusandae alias, accusantium soluta amet id! Consequatur perspiciatis eum voluptatum magnam, quod, doloribus ipsa tempore explicabo eos labore numquam nobis.</p>
    <div class="logos">
    </div>
  </div>
  <div class="right clearfix">
    <div class="col edu">
      <div class="intro">
        <h2>Education</h2>
        <p class="desc">
          The main ingredient required for Hawaii's innovation economy is a highly educated entreperneurial labor force with the skill set appropriate for the industry segment within which they are trying to innovate.
        </p>
      </div>
      <div class="graph-1">
        <p class="desc">
          In 2013 the percentage of Hawaii's working population with a Bacherlor's degree or higher was greater than the national average.
        </p>
        <div class="graph"></div>
      </div>
      <div class="graph-2">
        <p class="desc">
          Science and engineering graduate students per 1000 individuals 25-34 years old in 2011.
        </p>
        <div class="graph">
          <span class="value">11.1</span> 
          <p>The national average is 11.1</p>
        </div>
      </div>
    </div>
    <div class="col rnd">
      <div class="intro">
        <h2>Research &amp; Development</h2>
        <p class="desc">Hawaii's investments in innovation initiatives must have proper linkages and address the entire pipeline of the innovation process from research all the way to commercialization and exporting of the product.</p>
      </div>
      <div class="graph-1">
        <p class="desc">
          Science and engineering graduate students per 1000 individuals 25-34 years old in 2011.
        </p>
        <div class="graph">
          <span class="value">11.1</span> 
          <p>The national average is 11.1</p>
        </div>
      </div>
      <div class="graph-2">
        <p class="desc">
          In 2013 the percentage of Hawaii's working population with a Bacherlor's degree or higher was greater than the national average.
        </p>
        <div class="graph"></div>
      </div>
    </div>
    <div class="col ent">
      <div class="intro">
        <h2>Entrepreneurship</h2>
        <p class="desc">If we focus Hawaii's resources on assisting entrepreneurial segments of our existing industries to embrace the global innovation economy, our investments to nurture our industries will be more effective.</p>
      </div>
      <div class="graph-1">
        <p class="desc">
          In 2013 the percentage of Hawaii's working population with a Bacherlor's degree or higher was greater than the national average.
        </p>
        <div class="graph"></div>
      </div>
      <div class="graph-2">
        <p class="desc">Science and engineering graduate students per 1000 individuals 25-34 years old in 2011.</p>
        <div class="graph">
          <span class="value">11.1</span> 
          <p>The national average is 11.1</p>
        </div>
      </div>
    </div>
    <div class="col econ">
      <div class="intro">
        <h2>Economic Prosperity</h2>
        <p class="desc">Hawaii is ahead of other locales in attracting talent, the key ingredient to the innovation economy, because out name is synonymous with a high quality of life, which is a key deciding factor for innovation workers</p>
      </div>
      <div class="graph-1">
        <div class="graph">
          <p class="desc">Average compensation per job in Hawaii in 2013</p>
          <span class="value">52,151</span> 
        </div>
      </div>
      <div class="graph-2">
        <p class="desc">
          In 2013 the percentage of Hawaii's working population with a Bacherlor's degree or higher was greater than the national average.
        </p>
        <div class="graph"></div>
      </div>
    </div>
  </div>
</div>