<!-- <div class="Economic">
   <h1>{{welcome}}</h1>
  <a ui-sref="econ">Average Earnings Per Job</a>
</div> -->

<div class="map_heading">
  <h2>In Hawaii...</h2>  
  <h3>In {{currentyear}}, the average earnings per job was {{earnings}}</h3>
  <div class="legend">
    <h2>Legend Data</h2>
  </div>
  <div class="map">US Map Goes Here</div>
</div>

<div class="line_graph">
  <h2>In Hawaii...</h2>
  <h3>In {{endyear}}, this was an increase of {{percent}} in {{earnings}} since {{startyear}}</h3>
  <div class="legend">
    <h2>Legend Data</h2>
  </div>
  <div class="graph">Line Graph Goes Here</div>
</div>