<section>
  <div class="info_legend_container">
    <div class="map_info">
      <h2><span class="numbers">2</span> In Hawaii...</h2>
      <p>Choose an indicator and a diagram will generate...</p>
    </div>
  </div><!--end of info section-->
  <div class="map">Map</select>
</section><!--end of map section-->
  
<section>
  <div class="line_graph_info">
    <h2><span class="numbers">3</span> In Hawaii...</h2>
    <p>Choose an indicator and a diagram will generate...</p>
  </div>
</section><!--end of graph section-->

<section>
    <div class="timeline_info">
      <h2><span class="numbers">4</span> Time Span</h2>
      <p><em>Choose a Start and End year to compare.</em></p>
    </div>
    <div class="timeline"></div>
</section><!--end of timeline section-->

