<section>
  <div class="info_legend_container clearfix">
      <div class="map_info">
        <h3>In <span class="uh-current-year"></span>, average earnings per job in Hawaii was <span class="uh-percent"></span>, <span class="uh-value-change"></span> than in <span class="uh-previous-year"></span>.</h3>
      </div> <!-- .map_info -->

      <div uh-graphs map-url="assets/maps/USA.json" d3-data-url="http://localhost:4567/economics/eco_average_earnings_per_job" color-scheme="econ" d3-y-unit-measure="Dollars ($ 2015)" legend-text="Average Earnings Per Job" measurement-unit="dollars"></div>
  </div>
</section>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://bea.gov/regional/index.htm">http://bea.gov/regional/index.htm</a></li>
  </ul>
</div>
