<section>
  <div class="info_legend_container clearfix">
      <div class="map_info">
        <!-- <h2><span class="numbers">2</span> In Hawaii...</h2> -->
        <h3>In <span class="uh-current-year"></span>, gross domestic product was <span class="uh-percent"></span> billion.</h3>
      </div> <!-- .map_info -->

      <div uh-graphs map-url="assets/maps/USA.json" d3-data-url="http://localhost:4567/economics/eco_per_capita_gdp" color-scheme="econ" d3-y-unit-measure="$B of current dollars" legend-text="GDP by State" measurement-unit="dollars"></div>
      <!-- <div class="map_toggle_container clearfix"> --> <!-- map toggle container -->
        <!-- <div class="legend" id="uh-histogram"> -->
      <!-- </div> --> <!-- .map_toggle container-->
  </div>
</section>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://bea.gov/regional/index.htm">http://bea.gov/regional/index.htm</a></li>
  </ul>
</div>
