<div class="economic">
  <div class="title">
    <h1>How does Hawaii compare to the rest of the U.S. in {{welcome}}</h1>
  </div>
  <aside>
    <h2><span class="numbers">1</span> Choose an indicator</h2>
    <ul>
      <li ui-sref-active="active" class="item"><a ui-sref="econ.gdp-by-state">GDP by State</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="econ.per-capita-personal-income">Per Capita Personal Income</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="econ.average-earnings-per-job">Average Earnings Per Job</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="econ.regional-price-parities">Regional Price Parities</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="econ.non-farm-jobs">Non-Farm Jobs</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="econ.unemployment-rate">Unemployment Rate</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="econ.state-and-local-tax-burden">State and Local Tax Burden</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="econ.lf-part-empl-rate">LF Part Empl Rate</a></li>
    </ul>
  </aside>
  <div class="graphs clearfix">
    <div ui-view>
      <section>
        <div class="info_legend_container clearfix">
          <div class="map_info">
            <h2><span class="numbers">2</span> In Hawaii...</h2>
            <p>Choose an indicator and a diagram will generate...</p>
          </div>
        </div><!--end of info section-->
        <div class="map"></div>
      </section><!--end of map section-->

      <section class="time_container clearfix">
          <div class="timeline_info">
            <h2><span class="numbers">3</span> Time Span</h2>
            <p><em>Choose a Start and End year to compare.</em></p>
          </div>
          <div class="time_span"></div>
      </section><!--end of timeline section-->
        
      <section>
        <div class="line_graph_info">
          <h2><span class="numbers">4</span> In Hawaii...</h2>
          <p>Choose an indicator and a diagram will generate...</p>
        </div>
      </section><!--end of graph section-->
    </div>
  </div>
</div>