<section>
  <div class="info_legend_container clearfix">
  <div class="graphs_container">

    <div class="map_toggle_container clearfix"> <!-- map toggle container -->
      <div class="map_toggle">
         <h3>Map Type</h3>
         <ul>
          <li><a ui-sref-active="active" class="mini_hi econ" ui-sref="econ.non-farm-jobs.hawaii"></a></li>
          <li><a ui-sref-active="active" class="mini_us econ" ui-sref="econ.non-farm-jobs.us"></a></li>
         </ul>
      </div> <!-- .map_toggle -->
    </div> <!-- .map_toggle container-->
    <div class="map_info">
      <!-- <h2><span class="numbers">2</span> In Hawaii...</h2> -->
      <h3>In <span class="uh-current-year"></span>, <span class="uh-percent"></span> thousand non-farm jobs.</h3>
    </div> <!-- .map_info -->

  </div>
  </div>

      <!-- <div class="legend" id="uh-histogram"> -->

</section>
<div ui-view></div>
