<section>
  <div class="info_legend_container clearfix">
    <div class="map_info">
      <div class="map_toggle">
        <h2>Map Type</h2>
        <ul>
          <li><a ui-sref-active="active" class="mini_hi econ" ui-sref="econ.unemployment-rate.hawaii"></a></li>
          <li><a ui-sref-active="active" class="mini_us econ" ui-sref="econ.unemployment-rate.us"></a></li>
        </ul>
      </div>
      <!-- <h2><span class="numbers">2</span> In Hawaii...</h2> -->
      <h2>In <span class="uh-current-year"></span>, the labor force had an unemployment rate of <span class="uh-percent"></span>.</h2>
    </div> <!-- .map_info -->

    <!-- <div class="map_toggle_container clearfix"> --> <!-- map toggle container -->
      <!-- <div class="map_toggle">
        <h3>Map Type</h3>
        <ul>
          <li><a ui-sref-active="active" class="mini_hi econ" ui-sref="econ.unemployment-rate.hawaii"></a></li>
          <li><a ui-sref-active="active" class="mini_us econ" ui-sref="econ.unemployment-rate.us"></a></li>
        </ul>
      </div>
   </div> --> <!-- .map_toggle -->
      <!-- <div class="legend" id="uh-histogram">
    </div> --> <!-- .map_toggle container-->
</section>
<div ui-view></div>
