<section>
  <div class="info_legend_container clearfix">
      <div class="map_info">
        <h3>In <span class="uh-current-year"></span>, <span class="uh-percent"></span>x12=<span class="uh-annual-kauffman"></span> of Hawaii's 20-64 year old adults started a new business, <span class="uh-value-change"></span> than in <span class="uh-previous-year"></span>.</h3>
      </div> <!-- .map_info -->

      <div uh-graphs map-url="assets/maps/USA.json" d3-data-url="http://localhost:4567/entrepreneurship/ent_kauffman_index" color-scheme="ent" d3-y-unit-measure="% of Adults 20-64 Yrs" legend-text="Kauffman Index of Entrepreneurial Activity" measurement-unit="extended_percent"></div>
  </div>
</section>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.kauffman.org/what-we-do/research/kauffman-index-of-entrepreneurial-activity">http://www.kauffman.org/what-we-do/research/kauffman-index-of-entrepreneurial-activity</a></li>
  </ul>
</div>
