<div class="entrepreneurship">
  <div class="title">
    <h1>How does Hawaii compare to the rest of the U.S. in {{welcome}}</h1>
  </div>
  <aside>
    <ul>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.startup-employment-share">Startup Employment Share</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.young-firm-employment-share">Young Firm Employment Share</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.mature-firm-employment-share">Mature Firm Employment Share</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.one-yr-startup-survival-rate">1-Year Startup Survival Rate</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.five-yr-startup-survival-rate">5-Year Startup Survival Rate</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.percent-sne-occupations">% Science &amp; Engineering Occupations</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.kauffman-index">Kauffman Index</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.vc-investment">Venture Capital Investment</a></li>
    </ul>
  </aside>
  <div class="graphs">
    <div ui-view>
      <section>
        <div class="info_legend_container clearfix">
          <div class="map_info">
            <p>Choose an indicator and a diagram will generate...</p>
          </div>
        </div><!--end of info section-->
        <div class="default-map"></div>
      </section><!--end of map section-->

      <section class="time_container clearfix">
          <div class="timeline_info">
            <p><em>Choose a Start and End year to compare.</em></p>
          </div>
          <div class="time_span"></div>
      </section><!--end of timeline section-->

      <section>
        <div class="line_graph_info">
          <p>Choose an indicator and a diagram will generate...</p>
        </div>
      </section><!--end of graph section-->

    </div>
  </div>
</div>
