<div class="entrepreneurship">
  <aside>
    <ul>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.startup-employment-share">Startup Employment Share</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.young-firm-employment-share">Young Firm Employment Share</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.mature-firm-employment-share">Mature Firm Employment Share</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.one-yr-startup-survival-rate">1-Year Startup Survival Rate</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.five-yr-startup-survival-rate">5-Year Startup Survival Rate</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.percent-sne-occupations">% Science &amp; Engineering Occupations</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.kauffman-index">Kauffman Index</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="ent.vc-investment">Venture Capital Investment</a></li>
    </ul>

    <div class = "instructions">
      <ul>
            <li><b>Select</b> a data series from the list above to display at right.</li>
            <li><b>Click</b> states to compare. </li>
            <li><b>Drag</b> slider to change timeseries.</li>
            <li><b>Select</b> a new tab at the top to switch indicators.</li>
      </ul>
   </div>
  </aside>
  <div class="graphs">
    <div ui-view>
      <section>
        <div class="info_legend_container clearfix">
          <div class="map_info">
          </div>
        </div><!--end of info section-->
        <div class="default-map"></div>
          <div class="timeline_info">
          </div>
          <div class="time_span"></div>
        <div class="line_graph_info">
        </div>
      </section><!--end of graph section-->

    </div>
  </div>
</div>
