<div class="entrepreneurship">
  <div class="title">
    <h1>How does Hawaii compare to the rest of the U.S. in {{welcome}}</h1>
  </div>
  <aside>
    <h2><span class="numbers">1</span> Choose an indicator</h2>
    <ul>
      <li><a ui-sref="ent.startup-employment-share">Startup Employment Share</a></li>
      <li><a ui-sref="ent.young-firm-employment-share">Young Firm Employment Share</a></li>
      <li><a ui-sref="ent.mature-firm-employment-share">Mature Firm Employment Share</a></li>
      <li><a ui-sref="ent.one-yr-startup-survival-rate">1-Year Startup Survival Rate</a></li>
      <li><a ui-sref="ent.five-yr-startup-survival-rate">5-Year Startup Survival Rate</a></li>
      <li><a ui-sref="ent.percent-sne-occupations">% Science &amp; Engineering Occupations</a></li>
      <li><a ui-sref="ent.kauffman-index">Kauffman Index</a></li>
      <li><a ui-sref="ent.vc-investment">Venture Capital Investment</a></li>
    </ul>
  </aside>
  <div class="graphs">
    <div ui-view>
      <!-- Add default/"blank" map and bar into here -->
      <h1>Choose an indicator and a diagram will generate.</h1>
    </div>
  </div>
</div>