<section>
  <div class="info_legend_container clearfix">
      <div class="map_info">
        <h3>In <span class="uh-current-year"></span>, <span class="uh-percent"></span> of Hawaii's private sector jobs were at young firms (1-5 years old), <span class="uh-value-change"></span> since <span class="uh-previous-year"></span>.</h3>
      </div> <!-- .map_info -->

      <div uh-graphs map-url="assets/maps/USA.json" d3-data-url="assets/data_sets/entrepreneurship/ent_young_firm_employment_share" color-scheme="ent" d3-y-unit-measure="% of Private Sector Jobs" legend-text="Percentage of Private Sector Jobs At Young Firms (1-5 years)" measurement-unit="percent"></div>
  </div>
</section>


<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.census.gov/ces/dataproducts/bds/">http://www.census.gov/ces/dataproducts/bds/</a></li>
  </ul>
</div>
