<section>
  <div class="info_legend_container clearfix">
    <div class="graphs_container">
      <div class="map_info">
        <!-- <h2><span class="numbers">2</span> In Hawaii...</h2> -->
        <h3>In <span class="uh-current-year"></span>, <span class="uh-percent"></span> of Hawaii's private-industry output was spent on domestic business-performed R&amp;D. This represents <span class="uh-value-change"></span> since <span class="uh-previous-year"></span>.</h3>
      </div> <!-- .map_info -->

      <div uh-graphs map-url="assets/maps/USA.json" d3-data-url="http://localhost:4567/research_development/rd_business_rd" color-scheme="rnd" d3-y-unit-measure="$ per private industry output (%)" legend-text="Business-Performed Domestic R&amp;D as a Percentage of Private-Industry Output by State" measurement-unit="percent"></div>
      <!-- <div class="map_toggle_container clearfix"> --> <!-- map toggle container -->
        <!-- <div class="legend" id="uh-histogram"> -->
      <!-- </div> --> <!-- .map_toggle container-->
    </div>
  </div>
</section>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.nsf.gov/statistics/seind14/">http://www.nsf.gov/statistics/seind14/</a></li>
  </ul>
</div>
