<div class="Research">
 
  <h1>How does Hawaii compare to the rest of the U.S. in {{welcome}}</h1>

  <p>Choose an indicator</p>
  <ul>
    <li><a ui-sref="rnd.expenditures-by-field">R&amp;D Expenditures by Field</a></li>
    <li><a ui-sref="rnd.patents-per-occupation">Patents Per Science &amp; Engineering Occupation</a></li>
    <li><a ui-sref="rnd.utility-patents-by-county">Utility Patents By County</a></li>
    <li><a ui-sref="rnd.sbir">SBIR</a></li>
    <li><a ui-sref="rnd.academic-rnd">Academic SE R&amp;D</a></li>
    <li><a ui-sref="rnd.academic-rnd-by-county">Academic SE R&amp;D by County</a></li>
    <li><a ui-sref="rnd.federal-rnd">Federal R&amp;D</a></li>
    <li><a ui-sref="rnd.business-rnd">Business R&amp;D</a></li>
    <li><a ui-sref="rnd.university-startups">University Startups</a></li>
    <li><a ui-sref="rnd.technology-licensing">Technology Licensing</a></li>
  </ul>
</div>
<div ui-view>
  <!-- Add default/"blank" map and bar into here -->
  <h1>Choose an indicator and a diagram will generate.</h1>
</div>
