<div class="research">
  <aside>
    <ul>
      <!-- <li ui-sref-active="active" class="item"><a ui-sref="rnd.expenditures-by-field">R&amp;D Expenditures by Field</a></li> -->
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.patents-per-occupation">Patents per Science &amp; Engineering Occupation</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.utility-patents-by-county">Utility Patents By County</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.sbir">SBIR</a></li>

      <input type="checkbox" name="Academic-SE" id="Academic-SE"></input>
      <label for="Academic-SE">Academic SE R&amp;D</label>
         <ul id="sub-menu">
         <li ui-sref-active="active" class="item"><a ui-sref="rnd.academic-rnd">By State</a></li>
         <li ui-sref-active="active" class="item"><a ui-sref="rnd.academic-rnd-by-county">By County</a></li>
         </ul>

      <li ui-sref-active="active" class="item"><a ui-sref="rnd.federal-rnd">Federal R&amp;D</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.business-rnd">Business R&amp;D</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.university-startups">University Startups</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.technology-licensing-numbers">Technology Licenses</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.technology-licensing">Technology Licensing in Dollars</a></li>
    </ul>
  </aside>
  <div class="graphs">
    <div ui-view>
      <section>
        <div class="info_legend_container clearfix">
          <div class="map_info">
          </div>
        </div><!--end of info section-->
        <div class="default-map"></div>
          <div class="timeline_info">
          </div>
          <div class="time_span"></div>
        <div class="line_graph_info">
        </div>
      </section><!--end of graph section-->

    </div>
  </div>
</div>
