<div class="research">
  <div class="title">
    <h1>How does Hawaii compare to the rest of the U.S. in {{welcome}}</h1>
  </div>
  <aside>
    <!-- <h2><span class="numbers">1</span> Choose an indicator</h2> -->
    <ul>
      <!-- <li ui-sref-active="active" class="item"><a ui-sref="rnd.expenditures-by-field">R&amp;D Expenditures by Field</a></li> -->
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.patents-per-occupation">Patents per Science &amp; Engineering Occupation</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.utility-patents-by-county">Utility Patents By County</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.sbir">SBIR</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.academic-rnd">Academic SE R&amp;D</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.academic-rnd-by-county">Academic SE R&amp;D by County</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.federal-rnd">Federal R&amp;D</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.business-rnd">Business R&amp;D</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.university-startups">University Startups</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.technology-licensing">Technology Licensing by Dollars</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="rnd.technology-licensing-numbers">Technology Licensing by Numbers</a></li>
    </ul>
  </aside>
  <div class="graphs">
    <div ui-view>
      <section>
        <div class="info_legend_container clearfix">
          <div class="map_info">
            <!-- <h2><span class="numbers">2</span> In Hawaii...</h2>
            <p>Choose an indicator and a diagram will generate...</p> -->
          </div>
        </div><!--end of info section-->
        <div class="default-map"></div>

          <div class="timeline_info">
            <!-- <h2><span class="numbers">3</span> Time Span</h2>
            <p><em>Choose a Start and End year to compare.</em></p> -->
          </div>
          <div class="time_span"></div>

        <div class="line_graph_info">
          <!-- <h2><span class="numbers">4</span> In Hawaii...</h2>
          <p>Choose an indicator and a diagram will generate...</p> -->
        </div>
      </section><!--end of graph section-->

    </div>
  </div>
</div>
