<section>
  <div class="info_legend_container clearfix">
    <div class="map_info">
      <!-- <h2><span class="numbers">2</span> In Hawaii...</h2> -->
      <h3>In <span class="uh-current-year"></span>, In 2012, the average annual federal funding on Small Business Innovation Research was <span class="uh-percent"></span> per million dollars of GDP.</h3>
    </div> <!-- .map_info -->
    <div class="map_toggle_container clearfix"> <!-- map toggle container -->
      <!-- <div class="legend" id="uh-histogram"> -->
    </div> <!-- .map_toggle container-->
  </div>
</section>

<div uh-graphs map-url="assets/maps/USA.json" d3-data-url="http://localhost:4567/research_development/rd_sbir" color-scheme="rnd" d3-y-unit-measure="Dollars per millions of GDP($)" legend-text="Average Annual Federal Small Business Innovation Research Funding Per $1M of GDP" measurement-unit="dollars"></div>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.nsf.gov/statistics/seind14/">http://www.nsf.gov/statistics/seind14/</a></li>
  </ul>
</div>
