<section>
  <div class="info_legend_container clearfix">
      <div class="map_info">
        <h3>In <span class="uh-current-year"></span>, <span class="uh-percent"></span> was generated in university licensing and options revenue in Hawaii. This represents <span class="uh-value-change"></span> than in <span class="uh-previous-year"></span>.</h3>
      </div> <!-- .map_info -->

      <div uh-graphs map-url="assets/maps/USA.json" d3-data-url="assets/data_sets/research_development/rd_technology_licensing_money" color-scheme="rnd" d3-y-unit-measure="$ from technology licenses and options executed" legend-text="Revenue From University Technology Licenses and Options Made by State" measurement-unit="dollars"></div>
  </div>
</section>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.autm.net/Home.htm">http://www.autm.net/Home.htm</a></li>
  </ul>
</div>
