<section>
  <div class="info_legend_container clearfix">
    <div class="map_info">
      <!-- <h2><span class="numbers">2</span> In Hawaii...</h2> -->
      <h2>In <span class="uh-current-year"></span>, <span class="uh-percent"></span> was generated in university licensing and options revenue.</h2>
    </div> <!-- .map_info -->

</section>

<div uh-graphs map-url="/assets/maps/USA.json" d3-data-url="http://localhost:4567/research_development/rd_technology_licensing_money" color-scheme="rnd" d3-y-unit-measure="$ from technology licenses and options executed" legend-text="Revenue From University Technology Licenses and Options Made by State" measurement-unit="dollars"></div>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.autm.net/Home.htm">http://www.autm.net/Home.htm</a></li>
  </ul>
</div>
