<div uh-graphs map-url="/assets/maps/USA.json" d3-data-url="http://localhost:4567/research_development/rd_technology_licensing_money" color-scheme="rnd" d3-y-unit-measure="# of technology licenses and options executed" legend-text="University Technology licenses and options executed by state" measurement-unit="number" measurement-unit="dollars"></div>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.autm.net/Home.htm">http://www.autm.net/Home.htm</a></li>
  </ul>
</div>