<section>
  <div class="info_legend_container clearfix">
      <div class="map_info">
        <h3>In <span class="uh-current-year"></span>, the number of univeristy startups created in Hawaii was <span class="uh-percent"></span>, <span class="uh-value-change"></span> startups than in <span class="uh-previous-year"></span>.</h3>
      </div> <!-- .map_info -->

      <div uh-graphs map-url="assets/maps/USA.json" d3-data-url="http://localhost:4567/research_development/rd_university_startups" color-scheme="rnd" d3-y-unit-measure="Number of Startups" legend-text="Start-ups From University Research Institutes" measurement-unit="integer"></div>
  </div>
</section>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.autm.net/Home.htm">http://www.autm.net/Home.htm</a></li>
  </ul>
</div>
