<section>
  <div class="info_legend_container clearfix">
    <div class="map_info">
      <!-- <h2><span class="numbers">2</span> In Hawaii...</h2> -->
      <h2>In <span class="uh-current-year"></span>, there were <span class="uh-percent"></span> utility patents granted.</h2>
    </div> <!-- .map_info -->

</section>

<div uh-graphs map-url="/assets/maps/hawaiian_islands.svg" d3-data-url="http://localhost:4567/research_development/rd_utility_patents_by_county" color-scheme="rnd" d3-y-unit-measure="Number of Patents" legend-text="Utility Patent Grants by County" measurement-unit="integer"></div>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.uspto.gov/learning-and-resources/statistics">http://www.uspto.gov/learning-and-resources/statistics</a></li>
  </ul>
</div>
