<section>
  <div class="info_legend_container clearfix">
    <div class="map_info">
      <h2><span class="numbers">2</span> In Hawaii...</h2>  
      <h3>In <span>{{currentyear}}</span>, <span>{{percent}} of full time graduate students</span> were science, engineering and health</h3>
    </div> <!-- indicator_info -->
    <div class="legend">
      <h4>Legend Data</h4>
        <ul>
          <li><span></span> {{sampledata}}</li>
          <li><span></span> {{sampledata}}</li>
          <li><span></span> {{sampledata}}</li>
          <li><span></span> {{sampledata}}</li>
          <li><span></span> {{sampledata}}</li>
        </ul>
    </div> <!-- legend -->
  </div> <!-- info_legend_container -->
  <div id="uh-map"></div>
</section>

<section>
  <div class="time_container clearfix">
    <div class="timeline_info">
      <h2><span class="numbers">3</span> Time Span</h2>
      <p>Choose a Start and End year to compare.</p>
    </div> <!-- timeline_info -->
    <div id="uh-brush" class="time_span">    
      <svg id="uh-brush-test" width="800" height="100"></svg>
    </div>
  </div> <!-- time_container -->
</section>

<section>
  <div class="line_graph_info">
    <h2><span class="numbers">4</span> In Hawaii...</h2>
    <h3>In {{endyear}}, this was an increase of {{percent}} in {{majors}} since {{startyear}}</h3>
  </div>
  <div class="line_graph_container clearfix">
    <div id="uh-graph" class="graph">
      <svg id="line-graph" width="600" height="370"></svg>
    </div>
    <div class="key">
      <h2>Legend Data</h2>
    </div> <!-- legend -->
  </div> <!-- line_graph_container --> 
</section>


