<section>
  <div id="uh-map">
    <div id="fixed-tooltip">
      <div class="arrow_box"></div>
    </div>
  </div>
  <div class="map_toggle_container clearfix"> <!-- map toggle container -->
   <div class="legend" id="uh-histogram">
 </div> <!-- .map_toggle container-->

  <div class="time_container clearfix">
    <!-- <div class="timeline_info">
      <p>Choose a Start and End year to compare.</p>
   </div> --> <!-- timeline_info -->
    <div id="uh-brush" class="time_span">
      <svg id="uh-brush-test" width="800" height="100"></svg>
    </div>
  </div> <!-- time_container -->

  <!-- <div class="line_graph_info">
    <h3>In <span class="uh-current-year"></span>, there was <span class="uh-value-change"></span> since <span class="uh-previous-year"></span>.</h3>
</div> -->
  <div class="line_graph_container clearfix">
    <div id="uh-graph" class="graph">
      <!-- <svg id="line-graph" width="600" height="370"></svg> -->
    </div>
    <div class="key" id="uh-key">
    </div> <!-- legend -->
  </div> <!-- line_graph_container -->
</section>
