/* Basic Settings for uHero */
/* Fonts */
$base: 16px;
$montserrat: 'Montserrat', sans-serif;

/* Colors */
$body_color: #A0A1A4;
$white: #fff;
$light_grey: #F0F2F2;
/* for dark headers */
$dark_grey: #414042;

/* Default Map Color */
$default_light_grey: #E6E7E8; 

/* Edu */
$edu_light: #F7EECB;
$edu_med_light: #F7E184;
$edu_medium: #F7C900;
$edu_med_dark: #C9A200;
$edu_dark: #896F00;
$edu_time_bar: #D6AE05;
$line_graph_grey: #A7A9AC;

/* RND */
$rnd_light: #FCDDC0;
$rnd_med_light: #F99D3A;
$rnd_medium: #E87F02;
$rnd_med_dark: #C66700;
$rnd_dark: #914800;
$line_graph_blue: #56A1B2;

/* ENT */
$ent_light: #FFD7D9;
$ent_med_light: #F4899B;
$ent_medium: #ED3E64;
$ent_med_dark: #BC1550;
$ent_dark: #8E1043;

/*ECON*/
/* Main same as medium green */
$econ_light: #E3E8A0;
$econ_light: #B6C12B;
$econ_medium: #899A0F;
$econ_med_dark: #747C08;
$econ_dark: #505606;
/* Line graph pink is ent_pink */


