/* Basic Settings for uHero */
/* Fonts */
$base: 16px;
$bitter: 'Bitter', sans-serif;
$montserrat: 'Montserrat', sans-serif;
/*Inline Media Queries*/
/* Media Queries 
small : max-width: 640px
medium : min-width: 641px, max-width: 960px
large : min-width: 961px
*/

$small-only : "only screen and (max-width:760px)";
$medium-down : "only screen and (max-width:1177px)";
$medium-only : "only screen and (min-width:760px) and (max-width:1118px)";
$medium-up : "only screen and (min-width:760px)";
$large-only : "only screen and (min-width:1177px)";

/* Colors */
$body_color: #6E7070;
$white: #fff;
/* for dark headers */
$dark_grey: #4F5050;
$oil: #323333;

/* Default Map Color */
$light_grey: #EBEDDE; 

/* Pinks? */
$light_pink: #F29C8B;
$rose: #C67163;


/* Colors */
/* Edu */
$edu_light: #C2EDF2;
$edu_med_light: #69D0E8;
$edu_medium: #47ABC6;
$edu_med_dark: #087F9B;
//time bar same as edu_dark 
$edu_dark_blue: #03627F;
//line graph orange same as $econ_medium

/* RND */
$rnd_light: #A7E6E7;
$rnd_med_light: #7FC4C9;
$rnd_medium: #74B1B2;
$rnd_med_dark: #5E9999;
$rnd_dark: #497C7B;


/* ENT */
$ent_light: #D3F4B5;
$ent_med_light: #AADB83;
$ent_medium: #7FBB57;
$ent_med_dark: #537A31;
$ent_dark: #3E5B23;

/*ECON*/
/* Main same as medium green */
$econ_light: #FCDDC0;
$econ_med_light: #FFBB83;
$econ_medium: #FF9933;
$econ_med_dark: #F27D14;
$econ_dark: #C15606;
/* Line graph pink is ent_pink */

/*Alt Colors*/
/* Edu */
// $edu_light: #F7EECB;
// $edu_med_light: #F7E184;
// $edu_medium: #F7C900;
// $edu_med_dark: #C9A200;
// $edu_dark: #896F00;
// $edu_time_bar: #D6AE05;
// $line_graph_grey: #A7A9AC;

/* RND */
// $rnd_light: #FCDDC0;
// $rnd_med_light: #F99D3A;
// $rnd_medium: #E87F02;
// $rnd_med_dark: #C66700;
// $rnd_dark: #914800;
// $line_graph_blue: #56A1B2;

/* ENT */
// $ent_light: #FFD7D9;
// $ent_med_light: #F4899B;
// $ent_medium: #ED3E64;
// $ent_med_dark: #BC1550;
// $ent_dark: #8E1043;

/*ECON*/
/* Main same as medium green */
// $econ_light: #E3E8A0;
// $econ_light: #B6C12B;
// $econ_medium: #899A0F;
// $econ_med_dark: #747C08;
// $econ_dark: #505606;
/* Line graph pink is ent_pink */





