/* Styles for Splash Page */

.splash{
  // padding-bottom: 10px;
  border-top-left-radius: 5px;
  background-color: $oil;

  @media #{$medium-down} {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  section:first-child {
    //padding: 30px 30px 25px;
    background-color: $light_grey;
    padding: 8px 30px;
    width: 17.5%;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    //border-top-right-radius: 5px;

    /* @media #{$large-only}{
      padding: 30px;
      width: 17.5%;
      float: left;
      border-top-right-radius: none;
   } */

    p {
      font-size: 13px;
      text-align: left;
      max-width: 100%;
      margin: 10px 0 20px;
      /* font-size: 0.8em;
      line-height: 1.4;
      max-width: 75%;
      margin: 0 auto 10px;
      text-align: center; */

      /* @media #{$large-only}{
        font-size: 13px;
        text-align: left;
        max-width: 100%;
        margin: 10px 0 20px;
     } */
    }
  }

  section:last-child {
    background-color: $oil;
    //padding-bottom: 10px;
    margin-bottom: 0;
    //margin-top: -2px;
    margin-left: 0;
    padding: 0px 0px 0px;
    overflow: hidden;

    /* @media #{$large-only}{
      //width: 73%;
      //padding: 30px 27px 20px;
      padding: 0px 0px 20px;
      overflow: hidden;
      //float: right;
   } */
  }

  h1{
    color: $oil;
    //text-align: center;
    margin-bottom: 20px;
    padding: 0 3px;
    letter-spacing: 0;

    @media #{$large-only}{
      // font-weight: 700;
      text-align: left;
      font-size: 1em;
      line-height: 1.3em;
    }
  }

  .group{
    p{
      padding: 5px 15px;
      font-size: 0.8125em;
      line-height: 1.5;
      overflow: hidden;
      //max-height: 162px;

      @media #{$large-only}{
        max-height: 258px;
      }
    }

    h2{
      text-transform: uppercase;
      @include uHero_font(0.9em, 1.2, $white, 400);
      text-align: center;
      height: 20px;
      padding: 3px 15px 0;
    }

    .econ{
      h2{
        padding: 3px 17px 0;
      }
    }
  }
}


.col{
  width: 25%;
  float: left;
  padding: 0px 0px 0px 6px;
  box-sizing: border-box;

  a {
     color: $body_color;
  }
}

.intro{
  height: 190px;
  color: $white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  //padding: 10px 0;
  box-sizing: border-box;

  /* @media #{$large-only} {
    height: 306px;
} */

  .econ & {
    p{
      //color: $econ_dark;
      color: #943F00;
    }
  }
  .edu & {
    p{
      color: $edu_dark;
    }
  }
  .ent & {
    p{
      color: $ent_dark;
    }
  }
  .rnd & {
    p{
      //color: $rnd_dark;
      color: #355A59;
    }
  }
}

.value{
  font-size: 3em;
  text-align: center;
  margin: auto;
  padding-bottom: 15px;

  .edu & {
    color: $edu_medium;
  }

  .rnd & {
    color: $rnd_medium;
  }

  .ent & {
    color: $ent_medium;
  }

  .econ & {
      color: $econ_medium;
  }
}

.splash .group .value + p {
  padding-top: 0;
}

.splash-graph {
  height: 275px;
  border-radius: 5px;
  background-color: $light_grey;
  margin: 6px 0 0;

  svg {
    margin: -15px auto;
    display: block;
  }
}

.d3-graph-edu, .d3-graph-ent, .d3-graph-econ {
   margin-left: -15px;

  @media #{$large-only} {
    margin-left:  -18px;
  }
}

.sponsors {
  width: 100%;
  display: block;
  text-align: center;

  @media #{$large-only} {
    text-align: left;
  }
  // height: 100px;
  // height: 50px;
  // background-color: red;

  // .sponsor{
  //   box-sizing: border-box;
  //   display: inline-block;
  //   width: 12%;  might need to change depending on amount of sponsors
  //   margin: 10px;
  //   // background-color: blue;

    img {
      height: 97px;
      padding: 5px 3px 3px 0;

      @media #{$large-only} {
        //padding: 5px 3px 3px 0;
      }
    }
  // }
}
