<section>
  <div class="info_legend_container clearfix">
      <div class="map_info">
        <h3>In <span class="uh-current-year"></span>, 8th graders in Hawaii's public schools scored an average of <span class="uh-percent"></span> points in mathematics, <span class="uh-value-change"></span> than in <span class="uh-previous-year"></span>.</h3>
      </div> <!-- .map_info -->

      <div uh-graphs map-url="assets/maps/USA.json" d3-data-url="assets/data_sets/education/edu_8th_grade_math_scores" color-scheme="edu" d3-y-unit-measure="Scaled Score" legend-text="Average Mathematics Scale Score For All 8th Grade Students" measurement-unit="number"></div>
  </div>
</section>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://nces.ed.gov/nationsreportcard/">http://nces.ed.gov/nationsreportcard/</a></li>
  </ul>
</div>
