<div class="education">
  <div class="title">
    <h1 class="edu">How does Hawaii compare to the rest of the U.S. in {{welcome}}</h1>
  </div>
  <aside>
    <h2><span class="numbers">1</span> Choose an indicator</h2>
    <ul>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.attainment-highschool.us">Education Attainment - Highschool Degree</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.education-attainment.us">Education Attainment - Bachelors Degree</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.post-sec-degree">Post-Sec Degree Holders</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.sne-grad-students">Science &amp; Engineering Grad Students</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.post-docs">Post-Docs by State</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.fourth-grade-math">4th Grade Math Scores</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.fourth-grade-reading">4th Grade Reading Scores</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.eight-grade-math">8th Grade Math Scores</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.eight-grade-reading">8th Grade Reading Scores</a></li>
    </ul>
  </aside>
  <div class="graphs">
    <div ui-view>
      <section>
        <div class="info_legend_container clearfix">
          <div class="map_info">
            <h2><span class="numbers">2</span> In Hawaii...</h2>
            <p>Choose an indicator and a diagram will generate...</p>
          </div>
        </div><!--end of info section-->
        <div class="default-map"></div>
      </section><!--end of map section-->
        
      <section class="time_container clearfix">
          <div class="timeline_info">
            <h2><span class="numbers">3</span> Time Span</h2>
            <p><em>Choose a Start and End year to compare.</em></p>
          </div>
          <div class="time_span"></div>
      </section><!--end of timeline section-->

      <section>
        <div class="line_graph_info">
          <h2><span class="numbers">4</span> In Hawaii...</h2>
          <p>Choose an indicator and a diagram will generate...</p>
        </div>
      </section><!--end of graph section-->
    </div>
  </div>
</div>