<div class="Education">
 
  <h1>How does Hawaii compare to the rest of the U.S. in {{welcome}}</h1>

  <p>Choose an indicator</p>
  <ul>
    <li><a ui-sref="edu.sne-grad-student-profile">Science &amp; Engineering Grad Student Profile</a></li>
    <li><a ui-sref="edu.sne-grad-student-funding">Science &amp; Engineering Grad Student Funding</a></li>
    <li><a ui-sref="edu.stem-majors">STEM Majors by Education Level</a></li>
    <li><a ui-sref="edu.education-attainment">Education Attainment</a></li>
    <li><a ui-sref="edu.post-sec-degree">Post-Sec Degree Holders</a></li>
    <li><a ui-sref="edu.sne-grad-students">Science &amp; Engineering Grad Students</a></li>
    <li><a ui-sref="edu.post-docs">Post-Docs by State</a></li>
    <li><a ui-sref="edu.fourth-grade-math">4th Grade Math Scores</a></li>
    <li><a ui-sref="edu.fourth-grade-reading">4th Grade Reading Scores</a></li>
    <li><a ui-sref="edu.eight-grade-math">8th Grade Math Scores</a></li>
    <li><a ui-sref="edu.eight-grade-reading">8th Grade Reading Scores</a></li>
  </ul>
</div>
<div ui-view>
  <!-- Add default/"blank" map and bar into here -->
  <h1>Choose an indicator and a diagram will generate.</h1>
</div>
