<div class="education">
  <aside>
    <ul>
      <!-- <li ui-sref-active="active" class="item"><a ui-sref="edu.attainment-highschool.us">Education Attainment - Highschool Degree</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.education-attainment.us">Education Attainment - Bachelors Degree</a></li> -->
      <li ui-sref-active="active" class="item"><a ui-sref="edu.post-sec-degree">Post-Sec Degree Holders</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.sne-bachelors">Science &amp; Engineering Bachelor's Degree Holders</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.sne-grad-students">Science &amp; Engineering Grad Students</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.post-docs">Post-Docs by State</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.fourth-grade-math">4th Grade Math Scores</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.fourth-grade-reading">4th Grade Reading Scores</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.eight-grade-math">8th Grade Math Scores</a></li>
      <li ui-sref-active="active" class="item"><a ui-sref="edu.eight-grade-reading">8th Grade Reading Scores</a></li>
    </ul>
  </aside>
  <div class="graphs">
    <div ui-view>
      <section>
        <div class="info_legend_container clearfix">
          <div class="map_info">
          </div>
        </div><!--end of info section-->
        <div class="default-map"></div>

          <div class="timeline_info">
          </div>
          <div class="time_span"></div>

        <div class="line_graph_info">
        </div>
      </section><!--end of graph section-->
    </div>
  </div>
</div>
