<section>
  <div class="info_legend_container clearfix">
      <div class="map_info">
        <!-- <h2><span class="numbers">2</span> In Hawaii...</h2> -->
        <h3>In Hawaii, <span class="uh-percent"></span> of adults aged 25-44 held a secondary degree in <span class="uh-current-year"></span>. This represents <span class="uh-value-change"></span> since <span class="uh-previous-year"></span>.</h3>
      </div> <!-- .map_info -->

      <div uh-graphs map-url="assets/maps/USA.json" d3-data-url="http://localhost:4567/education/edu_postsec_degree_holders" color-scheme="edu" d3-y-unit-measure="% of total individuals" legend-text="Percent of Postsecondary Degree Holders Among Individuals 25-44 Years Old" measurement-unit="percent"></div>
      <!-- <div class="map_toggle_container clearfix"> --> <!-- map toggle container -->
        <!-- <div class="legend" id="uh-histogram"> -->
      <!-- </div> --> <!-- .map_toggle container-->
  </div>
</section>


<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.nsf.gov/statistics/seind14/">http://www.nsf.gov/statistics/seind14/</a></li>
  </ul>
</div>
