<section>
  <div class="info_legend_container clearfix">
      <div class="map_info">
        <h3>In <span class="uh-current-year"></span>, there were <span class="uh-percent"></span> post-doctorates per 1000 young working age (25-34) Hawaii residents, <span class="uh-value-change"></span> post-docs than in <span class="uh-previous-year"></span>.</h3>
      </div> <!-- .map_info -->

      <div uh-graphs map-url="assets/maps/USA.json" d3-data-url="http://localhost:4567/education/edu_postdocs_by_state" color-scheme="edu" d3-y-unit-measure="per 1000 Individuals 25-34 yrs old" legend-text="Science and Engineering Postdoctorates Per 1000 Individuals 25-34 Years Old" measurement-unit="number"></div>
  </div>
</section>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.nsf.gov/statistics/srvygradpostdoc/">http://www.nsf.gov/statistics/srvygradpostdoc/</a></li>
  </ul>
</div>
