<!-- <div class="Education">
 
  <h1>{{welcome}}</h1>

  <a ui-sref="edu">student profile</a>
</div> -->
<div class="views_container">
  <span class="numbers"></span>
  <div class="us_map clearfix">
    <div class="indicator_info">
      <h2>In Hawaii...</h2>  
      <h3>In <span>{{currentyear}}</span>, <span>{{percent}} of full time graduate students</span> were science, engineering and health</h3>
    </div>
    <div class="legend">
      <h2>Legend Data</h2>
        <ul>
          <li><span></span>{{sampledata}}</li>
          <li><span></span>{{sampledata}}</li>
          <li><span></span>{{sampledata}}</li>
          <li><span></span>{{sampledata}}</li>
          <li><span></span>{{sampledata}}</li>
        </ul>
    </div> <!-- legend -->
    <div class="map">US Map Goes Here</div>
  </div> <!-- us_map -->

  <div class="line_graph">
  <span class="numbers"></span>
    <h2>In Hawaii...</h2>
    <h3>In {{endyear}}, this was an increase of {{percent}} in {{majors}} since {{startyear}}</h3>
    <div class="legend">
      <h2>Legend Data</h2>
    </div>
    <div class="graph">Line Graph Goes Here</div>
  </div>

  <div class="time_span">
  <span class="numbers"></span>
    <h2>Time Span<span>Choose a Start and End year to compare.</span></h2>
    <p>slider goes hear</p>
  </div>
</div>