<section>
  <div class="info_legend_container clearfix">
    <div class="map_info">
      <h2><span class="numbers">2</span> In Hawaii...</h2>  
      <h3>In <span class="uh-current-year"></span>, there were <span class="uh-percent"></span>% Science & Engineering Graduate Students per 1000 individuals 18-24 years old</h3>
    </div> <!-- .map_info -->
    <div class="map_toggle_container clearfix"> <!-- map toggle container -->
      <div class="legend" id="uh-histogram">
    </div> <!-- .map_toggle container-->
</section>

<div uh-graphs map-url="/assets/maps/USA.json" d3-data-url="http://localhost:4567/education/edu_se_grad_students" color-scheme="edu" d3-y-unit-measure="per 1000 Individuals 25-34 yrs old" legend-text="Science and engineering graduate students per 1000 individuals 25-34 years old" measurement-unit="number"></div>

<div class="references">
<h3>References</h3>
  <ul>
    <li><a href="http://www.nsf.gov/statistics/seind14/">http://www.nsf.gov/statistics/seind14/</a></li>
  </ul>
</div>